ul{
    height:100%;background:#f6f6f6;font-size:0.426667rem;line-height:0.906667rem;color:#333;padding-top:0.213333rem;
    li{margin-top:0.2rem;background:white;padding:0 0.266667rem;
        input{zoom:300%;float:right;margin-top:0.133333rem;}
        &:first-child{margin-top:0.45rem;}
        i{font-size:0.533333rem;}
    }
}