#search{
    .search_t{border-bottom:1px solid #999;
        padding:0.266667rem;line-height:0.6933rem;display:flex;justify-content:space-between;
        .search_t_l{
            border:1px solid #ccc;width:8.0rem;font-size:0.32rem;color:#666;float:left;line-height:0.6933rem;position:relative;
            i{padding:0 0.266667rem;font-size:0.48rem;}
            input{font-size:0.32rem;color:#999;}
            ul{position:absolute;left:0;top:0.8rem;font-size:0.32rem;line-height:0.746667rem;
                li{background-color:rgba(111,15,111,.3);color:purple;padding:0 0.266667rem;width:6.666667rem;}
            }
        }
        a{float:right;font-size:0.426667rem;color:#333;}
    }
    .search_b{
        padding:0.266667rem;
        h2{font-size:0.373333rem;line-height:0.64rem;color:#ccc;}
        a{float:left;font-size:0.32rem;color:#444;line-height:0.8rem;padding:0 0.426667rem;border:0.026667rem solid #ccc;margin-right:0.266667rem;margin-top:0.266667rem;}
    }
}