#app{
	height: 100%;
}
.box{
	height: 100%;
	display: flex;
	flex-direction:column;
	.order{
		flex:1;
		overflow-x:hidden;
		.top,.center,.bottom{
			display: flex;
			flex-direction:column;
			height:3.733333rem;
			li{
				flex:1;
				// height: 0.533333rem;
				display: flex;	
				justify-content:space-between;
				border-bottom:1px solid #ccc;
				padding:0 0.4rem;
				span{
					display:inline-block;
					height: 1.2rem;
					line-height: 1.2rem;
					a{
						display: block;
						font-size: 0.373333rem;
						height: 1.2rem;
						line-height: 1.2rem;
						color:#000;
						float: left;
						margin-right: 0.533333rem;
					}
					i{
						display: block;
						font-size: 0.373333rem;
						float: left;
						height: 1.2rem;
						line-height: 1.2rem;
						margin-top: 0;
					}
				}
			}
		}
		.center{
			border-top:20px solid #f2f2f2;
			border-bottom:20px solid #f2f2f2;
			.zfb{
				font-size:0.533333rem;
				margin-right: 0.266667rem;
				color:#478fbc;
			}
		}
		.bottom{
			span{
				display:inline-block;
				input{
					// display: block;
					width:0.426667rem;
					height: 0.426667rem;
					margin-top:0.426667rem;
				}
			}
		}
		.total{
			margin:0.266667rem 0.8rem;
			float: right;
			p{
				font-size:0.373333rem;
				span{
					margin: 0 0.533333rem;
				}
			}
		}
	}
	.footer{
		display: flex;
		height: 1.2rem;
		// border-top: 3.2rem solid #f2f2f2;
		li{
			flex:1;
			font-size: 0.373333rem;
			text-align: center;
			line-height: 1.2rem;
			color:#000;
			margin-top: 0;
			span{
				font-weight: bold;
			}
			a{
				display: block;
				height: 1.2rem;
				width: 3.2rem;
				float: right;
				font-size: 0.453333rem;
				background-color: #0700c5;
				color:#fff;
			}
		}
	}
}
