#app .recommend #Head{overflow:hidden;z-index:100;position:fixed;width:100%;}
#Head a i{margin-right:0.133333rem;}
#app .recommend #foot{z-index:100;position:fixed;bottom:0;width:100%;}
.recommend{width:100%;display:flex;flex-direction: column;}
.recommendBox{width:100%;height:100%;overflow-y: scroll;position:relative;flex:1;top:1rem;}
.recommendBanner{height:6.24rem;;position:relative;overflow:hidden;}

.recommendBanner .slider1{width:100%;height:6.24rem;;}
.recommendNew{width:100%;height:1.6rem;position:relative;}
.recommendNew img{width:100%;height:1.6rem;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.recommendImg{
    height:  8.65625rem;
}
.recommendImg li{
    float:left;
    height: 8.65625rem;
    margin-top:0;
    width: 50%;
}
.recommendImg li img{
    height: 8.65625rem;
    width: 100%;
}
.recommendImg li:last-child img{
    height: 50%;
    width: 100%;
    margin-top: 0;
}
.recommendImg li:last-child {
    margin-top: 0;
}
.recommendImg2{
    
}
.recommendImg2 li{
   
    width: 100%;
}
.recommendImg2 li img{
    height:5.333333rem;
    width: 100%;
}
.recommendImg2 li:nth-child(2){
    height: 6.453333rem;
    margin-top:0;
}
.recommendImg2 li:nth-child(2) img{
    display:inline-block;
    height: 100%;
    width: 50%;
}
.recommendFang{
    height:6.4rem;
    display:flex;
    flex-wrap:wrap;
}
.recommendFang li{
    float:left;
    height: 50%;
    width: 50%;
    margin-top:0;
    text-align:center;
    padding:0;
}
.recommendFang li img{
    height: 3.2rem;
    width: 100%;
}
.recommendFang li:last-child {
    margin-top: 0;
}
.recommendMan{
    width: 100%;
}
.recommendMan img{
    width: 100%;
}
.recommendType{
    width: 100%;
}
.recommendType img{
    width: 100%;
}
.recommendType ul{
    width: 100%;
}
.recommendType ul li{
    float:left;
    width: 25%;
    height:33%;
    margin-top:0;
}
#app .recommendType ul li:first-child {
    margin-top: 0;
}
.recommendType ul li img{
    width: 100%;
    height:100%;
}
.recommendFoot{height:100%;}
.recommendFoot .searchBar .isFixed{
    position:fixed;
    background-color:#fff;
    top:1.4rem;
    z-index:999;
}


.recommendFoot .searchBar .searchBarFixed{
    display: flex;
    width:100%;
    height: 1.5rem;
    line-height:1.5rem;
    border-top:1px solid #ccc;
   border-bottom:1px solid #ccc;
   background: #fff;
   z-index:999;
}
.recommendFoot .searchBar .searchBarFixed li{
    height: 1.5rem;
    font-size:0.4rem;
    width: 50%;
    line-height:1.5rem;
    text-align:center;
    margin-top:0;
}
.recommendFoot .recommendFootList{
    display: flex;
    flex-wrap:wrap;
    width:100%;
}
.recommendFoot .recommendFootList li{
    height: 10rem;
    width: 50%;
    text-align:center;
    padding:0;
}
.recommendFoot .recommendFootList li .imgBox{height: 6.586667rem;padding-left:3.533333rem;}
.recommendFoot .recommendFootList li img{
    height: 6.586667rem;
    width: 4.96rem;
     margin-left:0.133333rem;float:right;
}

.recommendFoot .recommendFootList li p{
   
    height: 0.6rem;
    line-height: 0.6rem;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 0.32rem;
    box-sizing: border-box;
}
.recommendFoot .recommendFootList li .type{
    width:1.5rem;
    height: 0.48rem;
    line-height: 0.48rem;
    margin:0 auto;
    margin-top:0.14rem;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 0.32rem;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
}

.scrollTop1 {position: fixed;top:6.625rem;right:0;z-index:100;font-size:0.46875rem;background: white;text-align:center;display:none;}


